<section>
    <div class="page-header">
        <h1>Cats</h1>
    </div>
    <div class="list-group">
        <a ui-sref="cats.cat.edit({ catId: cat._id })" ng-repeat="cat in catsListCtrl.cats" class="list-group-item">
            <small class="list-group-item-text">
                Posted on
                <span ng-bind="cat.created | date:'mediumDate'"></span>
                by
                <span ng-bind="cat.createdBy.displayName"></span>
            </small>

            <h4 class="list-group-item-heading" ng-bind="cat.name"></h4>
            <p class="list-group-item-text">
                (<span ng-bind="cat.color"></span>) -
                (<span ng-bind="cat.birthYear"></span>) -
                (<span ng-bind="cat.gender"></span>)
            </p>
        </a>
    </div>
    <div class="alert alert-warning text-center" ng-if="catsListCtrl.cats.$resolved && !catsListCtrl.cats.length">
        No cats yet, why don't you <a ui-sref="cats.create">create one</a>?
    </div>
</section>
